.statistics {
  background-color: beige;
  margin: auto;
  margin-top: 50px;
  width: 300px;
  height: 135px;
box-shadow: -11px 10px 12px 3px rgba(34, 60, 80, 0.37);
}

.title {
  padding-top: 20px;
  text-align: center;
}

.statList {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 8px;
  padding-top: 8px;
  font-size: 20px;
  
}

.label{
    margin-bottom: 8px;
    font-weight: 600;
}
