.transactionHistory {
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: -11px 10px 12px 3px rgba(34, 60, 80, 0.37);
}

table {
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #dcdcdc;
  text-align: center;
}

tr th {
  background-color: burlywood;
}

tr:nth-child(even) {
  background-color: rgb(232, 227, 217);
}